/cmake-build-debug/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/infa_sem3_2021.cbp
/cmake-build-debug/infa_sem3_2021.exe
/cmake-build-debug/Makefile
/cmake-build-debug/test.cbp
